button[data-testid='captions-button'],
button[data-testid='archiving-button'],
button[data-testid='emoji-grid-button'] {
  display: none;
}

/* cache le lien de partage de la visio scrum-2872 */
div[data-testid='right-panel'] > div:nth-of-type(2) {
  display: none;
}
