# ignore techdocs output folder
generated-docs/
frontend/docs/

**/node_modules/*

**/.env
dist/
**/dist/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
*.env

pids
logs
results

node_modules
npm-debug.log
bower_components

public/js/*

server.key
server.crt
server.csr

dump.rdb
coverage/
/coverage/*
OpenTok-iOS-2.4.0/
opentok-ios-sdk-*
/BrowserStackLocal
/sc-*/*
sauce-connect.log

.tern-project

.vscode/settings.json

build

/scripts/allLicenseResults.json

vcr.yml
.scannerwork/

.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
vite.config.*.timestamp*
vitest.config.*.timestamp*
*.tsbuildinfo
vcr-dev.yml

/frontend/distRoom
