project:
  name: vonage-video-react-app # replace with your project name
instance:
  name: vera-dev # replace with your instance name
  runtime: nodejs22
  region: aws.euw1 # replace with your desired region
  # We run this locally so the vcr only needs to pick up the artefact backend/dist/**
  entrypoint: [node, bundle.cjs]
  application-id: ${DEV_VCR_APP_ID} # replace with your VCR Application ID
debug:
  entrypoint: [node, bundle.cjs]
